.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.how, .why {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.answer, .question {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.dialog h1 {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 5rem;;
    font-weight: 900;
    font-family: Orbitron;
    padding-left: 2rem;
    margin: 0;
}

.why p, a {
    position: absolute;
    padding: 0rem;
    padding-left: 2rem;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    font-size: 4rem;;
    font-weight: 400;
    font-family: Orbitron;
    background: linear-gradient(to right, #000000, #00000000);
    text-decoration: none;
    color: white;
}

.how p, a {
    position: relative;
    padding: 0rem;
    padding-left: 2rem;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-size: 3rem;;
    font-weight: 400;
    font-family: Orbitron;
    text-decoration: none;
    color: white;
}

canvas {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}


