header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .title {
    display: block;
    padding: .5rem;
    width: 75%;
    height: 100%;
}

header h1 {
    margin: 1rem;
    font-size: normal;
    font-weight: 900;
    font-family: Orbitron;
}

header h2 {
    margin: 1rem;
    font-size: normal;
    font-weight: 400;
    font-family: Orbitron;
}

header .info {
    margin: 0;
    padding: .5rem;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

img {
    width: 30%;
    height: 30%;
}

a {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: Orbitron;
    text-decoration: none;
    color: white;
}