.lib {
    margin-top: 1rem;
        display: flex;
        justify-content: center;
        padding: 1rem;
}


.lib canvas {
    margin: 0;
    border-radius: .5rem;
}

.pagination{
    display: flex;
    justify-content: center;
    color: white;
}

.paginationList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paginationBtn {
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: .25rem;
    font-family: Orbitron;
    font-size: medium;
}

.shader {
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
}